
/*Reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:#171717;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@400;700&display=swap');

body {
   height: 100%;
   font-family: "PT Serif";
   font-size: 20px;
}

.wrapper {
   max-width: 1920px;
   margin: 0 auto;
   min-height: 100%;
   
}

.container {
   max-width: 1170px;
   margin: 0 auto;
}

.header {
   

   &__body {
      display: flex;
      justify-content: space-between;

      padding: 34px 80px;
   }
   

}
.logo {
      display: inline;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2.5px;
      position: relative;
      font-size: 25px;
      line-height: 33px;
      
      

      &::after {
         content: '';
         width: 98%;
         right: 0;
         left: 0;
         top: 60%;
        
         height: 8px;
         background-color: #c9a96e6b;
         position: absolute;
         z-index: -1;
      }
      
}



.header {

   &__nav {
   }
}
.nav {
   display: flex;

   &__items {
      display: flex;
      gap: 30px;
      text-decoration: none;
   }

   &__link {

     
      
      :hover{
         color: #C9A96E;
         transition: ease .2s;
      }
   }
}




.intro {
   padding-bottom: 60px;
   

   &__item {
     position: relative;
   }

   &__image {
      
      max-width: 1920px;
      width: 100%;
   }
}

.intro {

   &__body {
      position: absolute;
      bottom: 59px;
      left: 19.7%;
      max-width: 560px;
   }

   &__suptitle {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #FFFFFF;
   }

   &__title {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: #FFFFFF;
   }

   &__subtitle {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
   }
}

.content {
   display: flex;
   justify-content: space-between;

   &__main {
      max-width: 770px;
   }
}

.main {

   &__items{
      display: flex;
      gap: 30px;
      margin-bottom: 60px;
   }

   &__item {
      
      border: 1px solid #E5E5E5;
      box-shadow: 0px 0px 8px 1px rgba(77,77,77,0.14);
      padding-bottom: 15px;
      margin-bottom: 30px;
   }

   &__item-big{
      display: flex;
      flex-direction: column;
      align-items: start;
      
   }

   &__item-bigPad {
      padding-left: 45px;
   }

   &__photo {
      margin-bottom: 15px;
   }

   &__category {
      font-family: 'PT Sans';
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      
      >a{
      color: #C9A96E;
      }
   }

   &__text {
      font-family: 'PT Serif';
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      padding: 10px 45px;
      a>{
      color: #171717;
      }
      }
      &__fullText {
         font-family: 'PT Sans';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color: #666666;
         padding-left: 45px;
      
   }

   &__author {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 15px;
      text-align: center;
      a>{
      color: #666666;
      }
   }
}


.content {

   &__aside {
      max-width: 270px;
   }
}

.content {

   &__aside {
   }
}
.aside {

   &__content {
   }

   &__title {
   }

   &__titleBlock {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #171717;
      border: 1px solid #E5E5E5;
      padding: 15px 72px;
      margin-bottom: 20px;
   }

   &__block {
      box-shadow: 0px 0px 8px 1px rgba(77,77,77,0.14);
      margin-bottom: 30px;
   }

   &__img {
      margin-bottom: 20px;
   }

   &__textBlock {
     
   }

   &__name {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #171717;
      text-align: center;
      margin-bottom: 5px;

   }

   &__prof {
      font-family: 'PT Serif';
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #B1B1B1;
      margin-bottom: 15px;
   }

   &__textAbout {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #666666;
      padding: 5px 20px;
      margin-bottom: 27px;

   }

   &__continueReading {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #C9A96E;
      text-align: center;
      border-top: 1px solid #E5E5E5;
      padding: 15px 76px;
      margin-bottom: 70px;
   }

   &__text {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #171717;
      padding: 10px 15px;
   }

   &__date {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #666666;
      text-align: center;
      padding-bottom: 15px;
   }
}

.aside {

   &__postsWrapper{
      margin-bottom: 70px;
   }

   &__categoriesWrapper {
      margin-bottom: 70px;
   }

   &__categoriesItems {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(77,77,77,0.14);
   }

   &__categoriesItem {
      display: flex;
      justify-content: space-between;
   }

   &__categoriesName {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #666666;
   }

   &__categoriesCount {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #666666;
   }
}



.aside {

   &__socialWrapper {
      margin-bottom: 70px;
   }
   
   &__socialItems {
     display: flex;
     flex-wrap: wrap;
     gap: 3px;
   }

   &__socialLink {
      max-width: 88px;
      width: 100%;
   }

   &__socialItem {
      max-width: 88px;
      width: 100%;
      height: 88px;
      background-color: #F8F9FA;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   &__socialImg {
     margin-bottom: 6px;
     >img {
      
     }
   }

   &__socialCount {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #999999;
      
   }
}


.aside {

   &__tagsWrapper {
   }

   &__title {
   }

   &__titleBlock {
   }

   &__tagsItem {
      display: inline-block;
      gap: 10px;
      margin-bottom: 10px;
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #666666;
      padding: 6px 15px;
      background-color: #F8F9FA;
   }
}


.pagination-wrapper {
   margin-bottom: 80px;
}
.pagination {

   width: 100%;
   max-width: 510px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   border: 1px solid #E5E5E5;
   padding: 18px 20px;
   

		&__oldestPost,
      &__nextPost {
         display: flex;
        
		}
      &__leftArrow {
         border-top: 1px solid gray;
         border-left: 1px solid gray;
         transform: rotate(-45deg);
         
      }

		&__leftArrow,
      &__rightArrow {
         display: inline-flex;
         width: 6px;
         height: 6px;
         align-self: center;
        
         
      }

		&__oldestPostText,
      &__nextText  {
         padding-left: 10px;
         padding-right: 10px;
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
         font-size: 14px;
         line-height: 16px;
         color: #A2A2A2;
		}

		&__body {
         display: flex;
         gap: 40px;
		}

		&__body-item {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 16px;
      color: #171717;
		}


		&__rightArrow {
         border-top: 1px solid gray;
         border-right: 1px solid gray;
         transform: rotate(45deg);
		}

		&__nextText {
		}
}



.instWidget {

   &__followInst {
      display: flex;
      justify-content: center;
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #171717;
      margin-bottom: 40px;
   }

   &__items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
   }

   &__item {
   }

   &__item-img {
   }
}

.instLink:hover {
   color: #C9A96E;
   transition: all .2s linear;
}

.footerLogo { 
   text-align: center;
   margin-bottom: 60px;
}



.footer {
   
   

	&__nav {
   display: flex;
   justify-content: center;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   margin-bottom: 30px;
   >ul>li>a{
      color: #666666;  
   } 
		}

    

   &__social {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 40px;
         }
   
   &__socialItems {
      
      :hover {
         background-color: #C9A96E;
         
         transition: all ease .3s;
         
      }
         }
   
   &__socialItem {
     
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      
      >img {
         max-height: 17px;
         max-width: 20px;
         color: #fff;
         
      }
         }
   
   
}

.line {
   border-bottom: 1px solid #E5E5E5;
   margin-bottom: 30px;
}

.copyright {
   text-align: center;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #666666;
}


/* =========================
   Responsive (Tablet / Mobile)
   ========================= */

/* Tablet (<= 1024px) */
@media (max-width: 1024px) {
  .header {
    &__body {
      padding: 24px 30px;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  .nav {
    &__items {
      gap: 18px;
      flex-wrap: wrap;
    }
  }

  .intro {
    padding-bottom: 40px;

    &__body {
      left: 8%;
      bottom: 30px;
      max-width: 520px;
    }

    &__title {
      font-size: 34px;
      line-height: 42px;
    }
  }

  .content {
    gap: 30px;

    &__main {
      max-width: 100%;
    }

    &__aside {
      max-width: 320px;
    }
  }

  .main {
    &__items {
      gap: 20px;
    }

    &__text {
      padding: 10px 25px;
      font-size: 18px;
      line-height: 26px;
    }

    &__item-bigPad {
      padding-left: 25px;
    }

    &__fullText {
      padding-left: 25px;
    }
  }

  .pagination {
    max-width: 100%;
  }

  .instWidget {
    &__items {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item-img {
      max-width: 180px;
      width: 100%;
    }
  }
}

/* Mobile (<= 768px) */
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 0 16px;
  }

  .header {
    &__body {
      padding: 18px 16px;
      justify-content: center;
      text-align: center;
    }
  }

  .logo {
    font-size: 22px;
    line-height: 28px;
  }

  .nav {
    width: 100%;
    justify-content: center;

    &__items {
      justify-content: center;
      gap: 14px;
    }
  }

  .intro {
    &__body {
      left: 16px;
      right: 16px;
      bottom: 18px;
      max-width: none;
    }

    &__suptitle {
      font-size: 12px;
      line-height: 16px;
    }

    &__title {
      font-size: 28px;
      line-height: 34px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .content {
    flex-direction: column;

    &__main,
    &__aside {
      max-width: 100%;
    }
  }

  .main {
    &__items {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__text {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 26px;
    }

    &__item-bigPad {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__fullText {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .aside {
    &__titleBlock {
      padding: 12px 16px;
    }

    &__continueReading {
      padding: 12px 16px;
      margin-bottom: 40px;
    }

    &__postsWrapper,
    &__categoriesWrapper,
    &__socialWrapper {
      margin-bottom: 40px;
    }

    &__socialItems {
      justify-content: center;
      gap: 8px;
    }

    &__socialItem {
      height: 78px;
    }
  }

  .pagination {
    padding: 14px 12px;

    &__body {
      gap: 18px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .instWidget {
    &__followInst {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }

    &__items {
      margin-bottom: 60px;
    }
  }

  .footer {
    &__nav {
      flex-wrap: wrap;
      padding: 0 16px;
      text-align: center;
    }

    &__social {
      flex-wrap: wrap;
      gap: 12px;
      padding: 0 16px;
    }
  }
}

/* Small phones (<= 480px) */
@media (max-width: 480px) {
  .intro {
    &__title {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .nav {
    &__items {
      gap: 10px;
    }
  }

  .main {
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .aside {
    &__socialItem {
      width: 78px;
      max-width: 78px;
      height: 78px;
    }

    &__socialLink {
      max-width: 78px;
    }
  }

  .pagination {
    &__oldestPostText,
    &__nextText {
      font-size: 12px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}
